.contact {

    &__background {
        background: linear-gradient(135deg, #33cc99 0%,#000058 100%);
        clip-path: polygon(0 33%, 100% 13%, 100% 100%, 0% 100%);
        padding: 30px 0px;
        padding-top: 255px;
        margin-top: -65px;

        @include respond(phone-lg){
            clip-path: polygon(0 17%, 100% 13%, 100% 100%, 0% 100%);
            padding-top: 172px;
        }

        & > h2 {
            color: #fff;
            text-align: center;
            font-size: 2rem;
            text-shadow: 2px 1px 1px $shadow-gray;
        }
    }

    &__success {
        min-width: 300px;
        max-width: 500px;
        background: #fff;
        padding: 20px;
        padding-left: 10px;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        & > .fa-times {
            color: rgba($shadow-gray, 0.7);
            align-self: flex-end;
        }

        & > .check > .fa-check-circle {
            position: absolute;
            z-index: 3;
            color: green;
            top: 62px;
            right: 120px;
            font-size: 1.4rem;
            background-color: #fff;
            border-radius: 50%;
            border: 1px solid #fff;
        }

        & > .fa-envelope {
            z-index: 2;
            font-size: 3rem;
            color: rgba($shadow-gray, 0.7);
            margin-bottom: 20px;
        }

        & > p {
            margin-bottom: 20px;
        }
    }

    &__container {
       min-width: 450px;
       max-width: 600px;
       margin: 40px auto;
       border-radius: 2px;
       background-color: #fcfcfc;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        padding: 0px 25px;
        padding-top: 15px;

        @include respond(phone-lg){
            min-width: 350px;
            margin: 40px 20px;
        }
        

        & > h2 {
            color: $maroon;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        &__row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & > div:first-child {
                margin-right: 10px;
            }
        }

        &__err-msg {
            color: $red;
            font-size: 0.8rem;
            margin-top: 5px;
            font-weight: bold;
        }

        & > label {
            padding: 8px 0px;
            padding-top: 25px;
            font-size: 0.9rem;
        }

        & > textarea {
            height: 180px;
            resize: none;
            padding-top: 10px;
            font-family: $primary-font;
            font-size: 0.9rem;
        }

        &__input {
            border: 1px solid #a2a2a2;
            width: 100%;
            border-radius: 2px;
            height: 35px;
            padding-left: 10px;
            font-size: 0.9rem;
            font-family: $primary-font;

            &-container {
                display: flex;
                flex-direction: column;
                width: 100%;

                & > label {
                    padding: 8px 0px;
                    padding-top: 25px;
                    font-size: 0.9rem;
                }
            }

            

            &.hasError {
                border: 1.2px solid $red;
            }
            

            &:focus {
                border-color: #7c7c7c;
                background: rgba($shadow-gray, 0.05);
                outline: none;
                box-shadow: inset 0px 1px 4px -2px rgba(46,46,46, 0.5);
            }
        }

        &__btn {
            color: #fff;
            border: none;
            background-color: $blue;
            border-radius: 3px;
            font-size: 1rem;
            cursor: pointer;
            text-decoration: none;
            padding: 10px 20px;
            margin-top: 30px;
            margin-bottom: 20px;
            align-self: flex-end;
            transition: background-color .7s, transform .4s;

            &:hover {
            transform: translateY(-0.2rem);
            box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
            background-color: $blue-hover;

                &::after {
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                }
            }

            &:active, &:focus {
                outline: none;
                transform: translateY(0.1rem);
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: flex-end;

      @include respond(phone-lg){
        justify-content: center;
      }

    & > div {
        color: #fff;
        font-size: 0.7rem;
        padding-right: 60px;

         @include respond(phone-lg){
             padding-right: 0px;
         }
    }
}